doctype 5
html(ng-app="dnbRescue")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.png')

    title DNB Rescue
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/jquery.tagsinput/jquery.tagsinput.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/dnb.css')
    link(rel='stylesheet', href='/css/style.css')

  body
        .container.page-container
            .header
                a.logo(href='#')
                  span.glyphicon.glyphicon-bullhorn(style="padding-right:10px") 
                  span.logo-sign
                    b D&#38;B
                    | Rescue

            block content
